In [2]:
non_speech_list = []

with open("../non_speech.txt", "r") as f:
    lines = f.readlines()
    for line in lines:
        file_path = line.split(' ')[0]
        file_name = file_path.split('/')[-1][:-4]
        non_speech_list.append(file_name)

In [4]:
import pandas as pd

submission_df = pd.read_csv("/home/aicontest/DF/result/uijin/submit_240704_162809.csv")
submission_df.loc[submission_df['id'].isin(non_speech_list), ['fake', 'real']] = 0
submission_df

               id      fake      real
0      TEST_00000  0.999921  0.999891
1      TEST_00001  0.999988  0.945718
2      TEST_00002  0.999825  0.996826
3      TEST_00003  0.028224  0.005461
4      TEST_00004  0.303889  0.194514
...           ...       ...       ...
49995  TEST_49995  0.999970  0.000076
49996  TEST_49996  0.998419  0.053897
49997  TEST_49997  0.257191  0.999999
49998  TEST_49998  0.103196  0.973481
49999  TEST_49999  0.027507  0.979263

[50000 rows x 3 columns]

In [5]:
submission_df.to_csv("./masked_result.csv", index=False)